* {
    box-sizing: border-box;
}

/* Create two unequal columns that floats next to each other */
.column {
    padding: 20px;
    height: 515px;
    border-radius: 25px;

}

.left {
    width: 25%;
    margin-left: 4%;
    margin-right: 2%;
}

.right {
    width: 65%;
    margin-right: 2%;
    margin-left: 1%;

}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

input[type=radio] {
    outline: 2px solid black
}

body {
    background-image: url("../static/dna-struktur-rev-no-helix.png");
    background-repeat: no-repeat;
    background-size: 100%
    /*background-color: #efefef;*/
}

div.scroll_excepted {
    background-color: white;
    width: 200px;
    height: 150px;
    overflow: scroll;
}

div.scroll_races {
    background-color: white;
    width: 100%;
    height: 100%;
    font-size: 13px;
    overflow: scroll;
}

.container {
    width: 100%;
}

.one {
    border-radius: 3px;
    height: 100px;
    width: 100%;
    margin-top: 1%;
}

.two {
    height: 200px;
    width: 100%;
    /*margin-top: 1%;*/
}

.three {
    border-radius: 3px;
    height: 95%;
    width: 70%;
    float: left;
    /*margin: 1%;*/
}

.four {
    height: 95%;
    width: 25%;
    float: right;
    /*background-color: blue;*/
}

.race_cont {
    height: 40px;
    width: 100%;
}

.race_cont1 {
    height: 100%;
    width: 78%;
    float: left;
}

.race_cont2 {
    height: 100%;
    width: 18%;
    float: right;
}